# Dependencies
node_modules/
.env

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Configuration files with sensitive data
src/js/config.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 